@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .checkbox-label:has(input:checked) {
      @apply border-[#5C0601] bg-[#5C0601] border-2  text-white; 
    }
}

@font-face{
  font-family: 'Poppins';
  src: url('../public/WeddingdayPersonalUseRegular-1Gvo0.ttf');

}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.gradient-top {
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.gradient-bottom {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.gradient-left {
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.gradient-right {
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}


  
